{{ define "title" }}{{ .site.Name }}{{ end }}
{{ define "moreHeaders" }}
{{ end }}
{{ define "moreStyles" }}
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    <div class="md-section-divider"></div>
    <div class="md-section-divider"></div>
    <h1>水能载舟 亦可赛艇</h1>
    <hr>
    <div class="md-section-divider"></div>
    {{ $saveNoteListMap := .noteListMap }}
    {{ range $key, $value := .tagList}}
    {{ $noteList := index $saveNoteListMap $value.Id }}
    {{ if $noteList }}
    <h2>{{ $value.Name }}</h2>
    <ul>
        {{ range $key, $value := $noteList }}
        <li><a href="/{{ $site.NoteUrl }}/{{$value.Id}}">{{$value.Title}}</a></li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}

    <div class="md-section-divider"></div><hr>
    <a href="/">[返回]</a>
</div>
{{ end }}

{{ template "layout.html" . }}
