{{ template "layout" . }}

{{ define "title" }}
文章归档 {{ .month.Year }}-{{ .month.Month }} | {{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
<meta name="description" content="{{ .month.Year }} 年{{ .month.Month }} 月的所有文章 | {{ .site.Description }}">
{{ end }}
{{ define "moreStyles" }}
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div class="container wmd-preview wmd-preview-full-reader">
	{{ template "header" . }}
	<div class="archive">
		<div class="datetime">
			<hr>
			<h2>
				{{ .month.Year }} 年 {{ .month.Month }} 月
				<a href="/{{ $site.ArchiveUrl }}/{{ .month.Year }}-{{ .month.Month }}"><i class="icon-double-angle-right"></i></a>
			</h2>
		</div>
		<div class="note-list">
			<ul>
				{{ range $key, $value := .noteList }}
				<li>
					<div class="note-short">
						<a href="/{{ $site.NoteUrl }}/{{if $value.Notename.Valid}}{{$value.Notename.String}}{{else}}{{$value.Id}}{{end}}">
							{{$value.Title}}
						</a>
						<small>({{ $value.FormattedDate }})</small>
					</div>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
	{{if or .prevMonth .nextMonth}}
	<div class="page">
		<hr>
		{{if .nextMonth}}
		<a href="/{{ $site.ArchiveUrl }}/{{ .nextMonth.Year }}-{{ .nextMonth.Month }}" class="prev-page"><i class="icon-chevron-left"></i> {{ .nextMonth.Year }} 年 {{ .nextMonth.Month }} 月</a>
		{{end}}
		{{if .prevMonth}}
		<a href="/{{ $site.ArchiveUrl }}/{{ .prevMonth.Year }}-{{ .prevMonth.Month }}" class="next-page">{{ .prevMonth.Year }} 年 {{ .prevMonth.Month }} 月 <i class="icon-chevron-right"></i></a>
		{{end}}
	</div>
	{{end}}

	<div class="footer">
		<hr>
		<a href="/"><i class="icon-home"></i> 返回</a>
	</div>
</div>
{{ end }}
