{{ template "layout" . }}

{{ define "title" }}
文章归档 | {{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
<meta name="description" content="文章归档 | {{ .site.Description }}">
{{ end }}
{{ define "moreStyles" }}
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div class="container wmd-preview wmd-preview-full-reader">
	{{ template "header" . }}
	<div class="archives">
		<hr>
		{{ $noteListMap := .noteListMap }}
		{{ range $key, $value := .monthList }}
		<div class="archive">
			<div class="datetime">
				<h2>
					{{ $value.Year }} 年 {{ $value.Month }} 月
					<a href="/{{ $site.ArchiveUrl }}/{{ $value.Year }}-{{ $value.Month }}"><i class="icon-double-angle-right"></i></a>
				</h2>
			</div>
			<div class="note-list">
				<ul>
					{{ $noteList := index $noteListMap $value }}
					{{ range $key, $value := $noteList }}
					<li>
						<div class="note-short">
							<a href="/{{ $site.NoteUrl }}/{{if $value.Notename.Valid}}{{$value.Notename.String}}{{else}}{{$value.Id}}{{end}}">
								{{$value.Title}}
							</a>
							<small>({{ $value.FormattedDate }})</small>
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
		{{ end }}
	</div>

	<div class="footer">
		<hr>
		<a href="/"><i class="icon-home"></i> 返回</a>
	</div>
</div>
{{ end }}
