{{ template "layout" . }}

{{ define "title" }}
文章归档 | {{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
<meta name="description" content="{{ .site.Description }}">
{{ end }}
{{ define "moreStyles" }}
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
	<h1><a href="{{ $site.BaseUrl }}" class="no-color">{{ $site.Name }}</a></h1>
	<hr>
	{{ $noteListMap := .noteListMap }}
	{{ range $key, $value := .monthList }}
	<h2>
		{{ $value.Year }} 年 {{ $value.Month }} 月
		<a href="/{{ $site.ArchiveUrl }}/{{ $value.Year }}-{{ $value.Month }}"><i class="icon-double-angle-right"></i></a>
	</h2>
	<ul>
		{{ $noteList := index $noteListMap $value }}
		{{ range $key, $value := $noteList }}
		<li>
			<a href="/{{ $site.NoteUrl }}/{{if $value.Notename.Valid}}{{$value.Notename.String}}{{else}}{{$value.Id}}{{end}}">
				{{$value.Title}}
			</a>
			<small>({{ $value.FormattedDate }})</small>
		</li>
		{{ end }}
	</ul>
	{{ end }}

	<hr>
	<a href="/"><i class="icon-home"></i> 返回</a>
</div>
{{ end }}
