{{ template "layout" . }}

{{ define "title" }}
{{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
<meta name="description" content="{{ .site.Description }}{{ if .noteList }} | 最新文章: {{ $latest := index .noteList 0 }}{{ $latest.Title }}{{ end }}">
<meta name="sogou_site_verification" content="uNRJld8hel"/>
{{ end }}
{{ define "moreStyles" }}
<link href="/static/css/index.css" rel="stylesheet" media="screen">
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    <h1><a href="{{ $site.BaseUrl }}" class="no-color">{{ $site.Name }}</a></h1>
    <h6>{{ .haha }}</h6>
    <a href="/{{ $site.RssUrl }}" target="_blank" title="RSS"><i class="icon-rss"></i></a>
    {{ if .social.Github }}
    <a href="{{ .social.Github }}" target="_blank" title="github"><i class="icon-github"></i></a>
    {{ end}}
    {{ if .social.Weibo }}
    <a href="{{ .social.Weibo }}" target="_blank" title="微博"><i class="icon-weibo"></i></a>
    {{ end}}
    {{ if .social.Twitter }}
    <a href="{{ .social.Twitter }}" target="_blank" title="twitter"><i class="icon-twitter"></i></a>
    {{ end}}
    {{ if .social.Linkedin }}
    <a href="{{ .social.Linkedin }}" target="_blank" title="linkedin"><i class="icon-linkedin"></i></a>
    {{ end}}

    <div class="note-list">
        {{ $saveTagListMap := .tagListMap }}
        {{ range $key, $value := .noteList }}
        <hr>
        <h2>
            <a class="no-color" href="/{{ $site.NoteUrl }}/{{if $value.Notename.Valid}}{{$value.Notename.String}}{{else}}{{$value.Id}}{{end}}">
                {{$value.Title}}
            </a>
        </h2>
        <p>
            <i class="icon-tags"></i>
            {{ $tagList := index $saveTagListMap $value.Id }}
            {{ range $key, $value := $tagList }}
            <a href="/{{ $site.TagUrl }}/{{$value.Name}}"><code>{{- $value.Name -}}</code></a>
            {{ end }}
        </p>
        <p>
            {{$value.Preview}}
        </p>
        <h6>
            <i class="icon-time"></i>
            <a class="no-color" href="/archive/{{ $value.YearMonth }}" title="文章归档">
                {{ $value.FormattedTimestamp }}
            </a>
        </h6>
        {{ end }}
    </div>

    <div class="page">
        {{if .hasPrevPage}}
        <a href="/{{ $site.PageUrl }}/{{ .prevPage }}" class="prev-page"><i class="icon-chevron-left"></i> 上一页</a>
        {{end}}
        {{if .hasNextPage}}
        <a href="/{{ $site.PageUrl }}/{{ .nextPage }}" class="next-page">下一页 <i class="icon-chevron-right"></i></a>
        {{end}}
    </div>
    <hr>
    <p>
        <small>{{ $site.ICP }}</small><br>
        <a href="/sitemap.xml" target="_blank" title="sitemap.xml"><small><i class="icon-sitemap"></i></small></a>
        <a href="/archive" title="文章归档"><small><i class="icon-archive"></i></small></a>
    </p>
</div>
{{ end }}
