{{ template "layout" . }}

{{ define "title" }}
{{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
<meta name="description" content="{{ .site.Description }}">
<meta name="sogou_site_verification" content="uNRJld8hel"/>
{{ end }}
{{ define "moreStyles" }}
<link href="/static/css/index.css" rel="stylesheet" media="screen">
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    <div class="md-section-divider"></div>
    <div class="md-section-divider"></div>
    <a href="{{ $site.BaseUrl }}" class="no-color"><h1>{{ $site.Name }}</h1></a>
    <a href="/{{ $site.RssUrl }}" target="_blank" title="RSS"><i class="icon-rss"></i></a>
    <div class="note-list">
        {{ $saveTagListMap := .tagListMap }}
        {{ range $key, $value := .noteList }}
        <hr>
        <div class="md-section-divider">
        </div>
        <h2>
            <a href="/{{ $site.NoteUrl }}/{{$value.Id}}">
                {{$value.Title}}
            </a>
        </h2>
        <p>
            {{ $tagList := index $saveTagListMap $value.Id }}
            {{ range $key, $value := $tagList }}
            <a href="/{{ $site.TagUrl }}/{{$value.Id}}"><code>{{- $value.Name -}}</code></a>
            {{ end }}
        </p>
        <p>
            {{$value.Preview}}
        </p>
        <h6>
            <i class="icon-time"></i>
            {{ $value.FormattedTimestamp }}
        </h6>
        {{ end }}
    </div>

    <div class="page">
        {{if .hasPrevPage}}
        <a href="/{{ $site.PageUrl }}/{{ .prevPage }}" class="prev-page">上一页</a>
        {{end}}
        {{if .hasNextPage}}
        <a href="/{{ $site.PageUrl }}/{{ .nextPage }}" class="next-page">下一页</a>
        {{end}}
    </div>
    <div class="md-section-divider"></div><hr>
    <p>
        <small>{{ $site.ICP }}</small><br>
        <a href="/sitemap.xml" target="_blank"><small>sitemap.xml</small></a>
    </p>
</div>
{{ end }}
