<!DOCTYPE html>
<html class="theme theme-white">
<head>
<meta charset="utf-8">
<title>{{ .note.Title }} - 水能载舟 亦可赛艇</title>
<link href="https://www.zybuluo.com/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
</head>
<body class="theme theme-white">
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    {{ .note.UnescapedContent }}
    <div class="md-section-divider"></div><hr>
    <div id="comment">
        <div id="disqus_thread">评论加载中...</div>
    </div>
    <div class="md-section-divider"></div><hr>
    <a href="/"><-返回</a>
</div>
<script src="/static/js/jquery-2.2.2.min.js"></script>
<script src="/static/js/note.js"></script>
<script>
    var disqus_config = function () {
        this.page.url = 'https://lengzzz.com/note/{{ .note.Id }}';
        this.page.identifier = 'note-{{ .note.Id }}';
    };
</script>
</body>
</html>
