{{ template "layout" . }}

{{ define "title" }}
{{ .note.Title }} | {{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
<meta name="keywords" content="{{ range $key, $value := .tags }}{{$value.Name}},{{ end }}">
<meta name="description" content="{{ .note.Preview }}">
{{ end }}
{{ define "moreStyles" }}
<link href="/static/css/note.css" rel="stylesheet" media="screen">
{{ end }}
{{ define "moreScripts" }}
<script src="/static/js/note.js"></script>
<script>
    var disqus_config = function () {
        this.page.url = '{{ .site.BaseUrl }}{{ .site.NoteUrl }}/{{ .note.Id }}';
        this.page.identifier = 'note-{{ .note.Id }}';
    };
</script>
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div class="container wmd-preview wmd-preview-full-reader">
    <div class="note-content">
        <div class="search-box">
            <form action="/{{ $site.SearchUrl }}" method="get">
                <div class="search-input">
                    <input type="search" name="keyword" placeholder="搜索">
                </div>
                <div class="search-icon">
                    <i class="icon-search"></i>
                </div>
            </form>
        </div>
        {{ .note.UnescapedContent }}
    </div>
    <div class="meta">
        <hr>
        <p>
            <a class="qrcode-button" href="javascript:void(0)" title="二维码"><i class="icon-qrcode"></i></a>
            <img class="qrcode hidden" src="{{ .qrcodeDataUrl }}" alt="二维码">
        </p>
        <p>
            <small>发表于 {{ .note.FormattedTimestamp }}，最后更新于 {{ .note.FormattedLastModified }}。</small>
        </p>
        {{ if gt .outdated 100 }}
        <blockquote class="white-blockquote">
            <p>
                <small class="text-warning">
                    <i class="icon-warning-sign"></i>
                    这是一个最后更新于 {{ .outdated }} 天前的主题，其中的信息可能已经有所发展或是发生改变。
                </small>
            </p>
        </blockquote>
        {{ end }}
        <blockquote class="white-blockquote">
            <p>
                <small>
                    本文使用
                    <a href="{{ $site.LicenseUrl }}" target="_blank">{{ $site.LicenseName }} <i class="icon-external-link"></i></a>
                    协议
                    <i class="icon-heart heart-color"></i>
                </small>
            </p>
        </blockquote>
    </div>

    {{ if .relatedNotes }}
    <div class="related-note">
        <hr>
        <h2>相关文章</h2>
        <ul>
            {{ range $key, $value := .relatedNotes }}
            <li>
                <a href="/{{ $site.NoteUrl }}/{{if $value.Notename.Valid}}{{$value.Notename.String}}{{else}}{{$value.Id}}{{end}}">
                    {{$value.Title}}
                </a>
                <small>({{ $value.FormattedDate }})</small>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="comments">
        <hr>
        <div id="comment">
            <div id="disqus_thread"><i class="icon-comments"></i> 评论加载中...</div>
        </div>
    </div>

    <div class="control">
        <hr>
        <a href="/"><i class="icon-home"></i> 返回</a>
    </div>
</div>

<div class="home">
    <a class="no-color" href="/">
        <i class="icon-home"></i>
        <p>首页</p>
    </a>
</div>
{{ end }}
