<!DOCTYPE html>
<html class="theme theme-white">
<head>
<meta charset="utf-8">
<title>{{ .note.Title }} - 程序员和小女生</title>
<link href="https://www.zybuluo.com/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
</head>
<body class="theme theme-white">
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    {{ .note.UnescapedContent }}
    <div class="md-section-divider"></div><hr>
    <!--高速版-->
    <div id="SOHUCS" sid="note-{{ .note.Id }}"></div>
    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cyskgEYXj',
            conf: 'prod_7cfa6ac36d43f0c53cd1cd5eb8ba5701'
        });
    </script>
    <div class="md-section-divider"></div><hr>
    <a href="/"><-返回</a>
</div>
</body>
</html>