<!DOCTYPE html>
<html class="theme theme-white">
<head>
    <meta charset="utf-8">
    <title>程序员和小女生</title>
    <link href="https://www.zybuluo.com/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
</head>
<body class="theme theme-white">
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    <div class="md-section-divider"></div>
    <div class="md-section-divider"></div>
    <h1 data-anchor-id="38rx" id="博客首页">博客首页</h1>
    <p data-anchor-id="nxd8"><code>blog</code></p>
    <hr>
    <div class="md-section-divider"></div>
    <h2 data-anchor-id="eq8s" id="网络编程">网络编程</h2>
    <ol data-anchor-id="aid6">
        <li><a href="/note/1" target="_blank">[连载]TCP/IP 详解 读书笔记</a></li>
        <li><a href="/note/2" target="_blank">基本上找到问题了 Connection refused</a></li>
    </ol>
    <div class="md-section-divider"></div>
    <h2 data-anchor-id="qwcq" id="linux-维护">linux 维护</h2>
    <ol data-anchor-id="3ryr">
        <li><a href="/note/3" target="_blank">linux 共享库搜索路径</a></li>
        <li><a href="/note/4" target="_blank">两条命令查找程序在哪个软件包</a></li>
        <li><a href="/note/5" target="_blank">netstat 命令 help 翻译</a></li>
    </ol>
    <div class="md-section-divider"></div><hr>
    <p data-anchor-id="odpq">津 ICP 备 14005803 号 - 2</p>

</div>
</body>
</html>
