{{ define "title" }}
{{ .tag.Name }} - {{ .site.Name }}
{{ end }}
{{ define "moreHeaders" }}
{{ end }}
{{ define "moreStyles" }}
{{ end }}
{{ define "moreScripts" }}
{{ end }}
{{ define "content" }}
{{ $site := .site }}
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    <div class="md-section-divider"></div>
    <div class="md-section-divider"></div>
    <h1>{{ $site.Name }}</h1>
    <hr>
    <div class="md-section-divider"></div>
    <a href="/{{ $site.TagUrl }}">[所有分类]</a>
    <h2>{{ .tag.Name }}</h2>
    <ul>
        {{ range $key, $value := .noteList }}
        <li><a href="/{{ $site.NoteUrl }}/{{$value.Id}}">{{$value.Title}}</a></li>
        {{ end }}
    </ul>

    <div class="md-section-divider"></div><hr>
    <a href="/">[返回]</a>
</div>
{{ end }}

{{ template "layout.html" . }}
