<!DOCTYPE html>
<html class="theme theme-white">
<head>
    <meta charset="utf-8">
    <title>{{ .tag.Name }} - 水能载舟 亦可赛艇</title>
    <link href="https://www.zybuluo.com/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
</head>
<body class="theme theme-white">
<div id="wmd-preview" class="wmd-preview wmd-preview-full-reader">
    <div class="md-section-divider"></div>
    <div class="md-section-divider"></div>
    <h1>水能载舟 亦可赛艇</h1>
    <hr>
    <div class="md-section-divider"></div>
    <a href="/tag">所有分类</a>
    <h2>{{ .tag.Name }}</h2>
    <ul>
        {{ range $key, $value := .noteList }}
            <li><a href="/note/{{$value.Id}}">{{$value.Title}}</a></li>
        {{ end }}
    </ul>

    <div class="md-section-divider"></div><hr>
    <a href="/"><-返回</a>
</div>
</body>
</html>
