{{ define "header" }}
<div class="header">
	{{ template "searchBox" . }}
	<h1>
		<a href="{{ .site.BaseUrl }}" class="no-color">
			{{ .site.Name }}
		</a>
	</h1>
	<h6>{{ .haha }}</h6>
	<div class="social">
		<a href="/{{ .site.RssUrl }}" target="_blank" title="RSS"><i class="icon-rss"></i></a>
		{{ if .social.Github }}
		<a href="{{ .social.Github }}" target="_blank" title="github"><i class="icon-github"></i></a>
		{{ end}}
		{{ if .social.Weibo }}
		<a href="{{ .social.Weibo }}" target="_blank" title="微博"><i class="icon-weibo"></i></a>
		{{ end}}
		{{ if .social.Twitter }}
		<a href="{{ .social.Twitter }}" target="_blank" title="twitter"><i class="icon-twitter"></i></a>
		{{ end}}
		{{ if .social.Linkedin }}
		<a href="{{ .social.Linkedin }}" target="_blank" title="linkedin"><i class="icon-linkedin"></i></a>
		{{ end}}
		{{ if .social.About }}
		<a href="{{ .social.About }}" title="about me" class="no-color about"><i class="icon-user"></i> 关于我</a>
		{{ end}}
	</div>
</div>
{{ end }}
