{{ define "layout" }}
<!DOCTYPE html>
<html class="theme theme-white">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="{{ .site.Language }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ template "title" . }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ .site.BaseUrl }}{{ .site.RssUrl }}">
    <link href="/static/assets/template-theme-white.css" rel="stylesheet" media="screen">
    <link href="/static/css/common.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="/static/css/nprogress.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {{ template "moreHeaders" . }}
    {{ template "moreStyles" . }}

    {{ if .prod }}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?6c7f531ec83c196be6f3c28ed0a74629";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {{ end }}
</head>
<body class="theme theme-white">
{{ template "content" . }}

<script src="/static/js/jquery-2.2.2.min.js"></script>
<script src="/static/js/nprogress.js"></script>
<script>
    (function () {
        var loaded = false;
        var time = 0;
        function f(x) {
            return 100 - (52500 / (x + 450));
        }
        function randInterval() {
            return 600 + Math.random() * 600 - 300;
        }

        $(document).ready(function () {
            NProgress.start();

            var interval = randInterval();
            function progress() {
                if (loaded) {
                    return;
                }
                time += interval;
                console.log(time, f(time));
                NProgress.set(f(time) / 100);
                interval = randInterval();
                setTimeout(progress, interval);
            }
            setTimeout(progress, interval);
        });
        $(window).load(function () {
            loaded = true;
            NProgress.done();
        });
    })();
</script>
{{ template "moreScripts" . }}
</body>
</html>
{{ end }}
