a.no-color {
	color: inherit;
}

.about {
	float: right;
}

::selection {
	background-color: #B8E5E6;
}

::-moz-selection {
	background-color: #B8E5E6;
}

.page {
	overflow: hidden;
}
.page .prev-page {
	float: left;
}
.page .next-page {
	float: right;
}

.search-box {
	position: absolute;
	right: 5px;
	top: 55px;
}
@media (max-width: 600px) {
	.search-box {
		top: 105px;
	}
}
@media (max-width: 979px) and (min-width: 768px) {
	.search-box {
		right: 25px;
	}
}

.search-box .search-form {
	position: relative;
	margin: 0;
}

.search-box .search-input input {
	margin: 0;
	padding-left: 27px;
	width: 60px;
	-webkit-transition: width 600ms;
	-moz-transition: width 600ms;
	-ms-transition: width 600ms;
	-o-transition: width 600ms;
	transition: width 600ms;
	-webkit-appearance: none;
}
.search-box .search-input input:focus {
	width: 160px;
}
.search-box .search-icon {
	position: absolute;
	top: 0;
	left: 9px;
	max-width: 1em;
}
.search-box .search-loading {
	position: absolute;
	top: 0;
	left: 9px;
	max-width: 1em;
	display: none;
}

.search em {
	color: #F15F5F;
	font-style: normal;
}
