a.no-color {
	color: inherit;
}

::selection {
	background-color: #B8E5E6;
}

::-moz-selection {
	background-color: #B8E5E6;
}

.page {
	overflow: hidden;
}
.page .prev-page {
	float: left;
}
.page .next-page {
	float: right;
}
