@media screen and (min-width: 1150px) {
	.wrap-outer {
		margin-left: calc(100vw - 100%);
	}
}
::-webkit-scrollbar {
	height:8px;
	width:8px;
}
::-webkit-scrollbar:hover {
	height:11px;
	width:11px;
}
::-webkit-scrollbar-button {
	height:0;
	width:0;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
	display:block;
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
	display:none;
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
	border-style:solid;
	border-color:transparent;
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
	background-clip:padding-box;
	background-color:#fff;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	background-clip:padding-box;
	background-color:rgba(0,0,0,.2);
	min-height:28px;
	padding-top:100px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
	background-color:rgba(0,0,0,.4);
}
::-webkit-scrollbar-thumb:active {
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
	background-color:rgba(0,0,0,.5);
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
	border-width:0;
}
::-webkit-scrollbar-track:hover {
	-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
	background-color:rgba(0,0,0,.05);
}
::-webkit-scrollbar-track:active {
	-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
	background-color:rgba(0,0,0,.05);
}

a.no-color {
	color: inherit;
}

.about {
	float: right;
}

::selection {
	background-color: #B8E5E6;
}

::-moz-selection {
	background-color: #B8E5E6;
}

.page {
	overflow: hidden;
}
.page .prev-page {
	float: left;
}
.page .next-page {
	float: right;
}

.search-box {
	float: right;
	font-size: 16px;
	margin-top: 6px;
	display: flex;
}

.search-box .search-home {
	display: none;
}

.search-box .search-form {
	position: relative;
	margin: 0;
}

.search-box .search-input input {
	margin: 0;
	padding-left: 27px;
	width: 60px;
	-webkit-transition: width 600ms;
	-moz-transition: width 600ms;
	-ms-transition: width 600ms;
	-o-transition: width 600ms;
	transition: width 600ms;
	-webkit-appearance: none;
}
.search-box .search-input input:focus {
	width: 160px;
}
.search-box .search-icon {
	position: absolute;
	top: 1px;
	left: 8px;
	max-width: 1em;
}
.search-box .search-loading {
	position: absolute;
	top: 1px;
	left: 8px;
	max-width: 1em;
	display: none;
}

@media (max-width: 980px) {
	h1 {
		margin-top: 60px;
	}

	.wmd-preview-full-reader {
		position: static;
	}

	.search-box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: 0;
		background: #333333;
		box-sizing: border-box;
	}

	.search-box .search-home {
		display: block;
		font-size: 29px;
		border-right: 1px solid #000000;
		padding: 8px;
	}

	.search-box .search-home a {
		color: #FFFFFF;
	}

	.search-box .search-form {
		width: 100%;
		padding: 8px;
		border-left: 1px solid #616267;
	}

	.search-box .search-icon {
		top: 9px;
		left: 16px;
	}

	.search-box .search-loading {
		top: 9px;
		left: 16px;
	}

	.search-box .search-input input {
		width: 100%;
		height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.search-box .search-input input:focus {
		width: 100%;
	}

	.ui-menu .ui-menu-item {
		border-bottom: 1px solid #eee;
	}

	.ui-menu .ui-menu-item:last-child {
		border-bottom: none;
	}

	.ui-menu .ui-menu-item .ui-menu-item-wrapper {
		padding: 12px 1em 12px .4em;
	}
}

.ui-menu-item em,
.search em {
	color: #F15F5F;
	font-style: normal;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete {
	border: 1px solid transparent;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.toushi {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toushi .toushi-row {
	display: flex;
}

.toushi .toushi-row .toushi-price {
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #FAFAFA;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 5px;
}

.toushi .toushi-row .toushi-price:active {
	border: 1px solid #E9203F;
}

.toushi .toushi-row .toushi-price.selected {
	border: 1px solid #fd5670;
}

.toushi-button {
	font-size: 28px;
	color: #FFFFFF;
	width: 120px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fd5670;
	border: 1px solid #E9203F;
	border-radius: 5px;
	cursor: pointer;
	margin: 30px auto;
	padding: 0;
	display: block;
}

.toushi-button:active {
	color: #FF91A2;
}

.toushi-header {
	text-align: center;
}

.toushi-qr {
	text-align: center;
}

.toushi-scan-ok {
	text-align: center;
	color: #fd5670;
	font-size: 14px;
	display: none;
}

.toushi-qr .qrcode {
	margin: 10px;
	padding: 10px;
	background: #FFFFFF;
}
