.qrcode {
	position: absolute;
	border: 1px solid #000;
	padding: 10px;
	background: #fff;
	margin-top: -100px;
	margin-left: 10px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	z-index: 10000;
}
.qrcode.hidden {
	display: none;
}
.qrcode-button {
	font-size: 24px;
}
.qrcode-button:hover {
	text-decoration: none;
}
